<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Table</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Key</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ExtId</td>
            <td><a href="{{ .Url }}">{{ .ExtId }}</a></td>
          </tr>
          <tr>
            <td>Total price</td>
            <td>{{ .TotalPrice }}</td>
          </tr>
          <tr>
            <td>Created at</td>
            <td>{{ .CreatedAt }}</td>
          </tr>
          <tr>
            <td>Last pushed at</td>
            <td>{{ .PushedUpAt }}</td>
          </tr>
          <tr>
            <td>Title</td>
            <td>{{ .Title }}</td>
          </tr>
          <tr>
            <td>Description</td>
            <td>{{ .Description | html }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br/>

<div class="container">
  <div class="row">
    {{ range .Photos }}
      <div class="col">
        <img height="200px" src="{{ . }}" alt="">
      </div>
    {{ end}}
  </div>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
